body {
background: url("background.png") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 auto;

}
html {
  overflow-y: scroll;
}
h1 {
	color: white;
	text-align: center;
}

p {
	font-family: verdana;
	font-size: 20px;
	text-align: center;
	margin: 2px 8px 3px 8px;
	line-height: 150%;
}

a {
	font-size: 20px;
	font-family: arial;

}


.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
    text-align: center;
}

.menu li {
    display: inline;
}

.active{
        background-color: #111;
        color: white;
    }


.menu li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.menu li a:hover {
    background-color: #00bfff;
    color: white;
}
.menu li a.active {
    background-color: #111;
    color: white;
}
.logo{
	text-align: center;
	padding-top: 30px;
}

.img{
	height: 500px;
	width: 600px;
}
.text{
    width: 800px;
    margin: 100px auto 0 auto;
}

p{
    text-align: justify;
}
@media screen and (max-width : 760px){
    .text {
        display: block;
        width: 100%;

    }
    .img {
        width: 100%;
        height: auto;
    }
    .menu {
        display: block;
    }

    .menu li a {
        display: block;
        color: black;
    }

    .active{
        background-color: #111;
    }
    .menu li a:hover {
        background-color: black;
        }

}
